@use "../../../presets" as *;
@use "../../../mixins" as *;

.head-content {
  background-color: $color-accent;

  &__container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-top: 1.25rem;

    &::before {
      content: '';
      position: absolute;
      left: 339px;
      top: -127px;
      width: 860px;
      height: 860px;
      border-radius: 50%;
      color: $color-white;
      background: #94D38D;
    }
    &::after {
      content: '';
      position: absolute;
      width: 680px;
      height: 680px;
      left: 424px;
      top: -36px;
      border-radius: 50%;
      color: $color-white;
      background: #BFE5BB;
    }
  }

  &__body {
    width: 308px;
    display: flex;
    flex-direction: column;

    gap: calc($gap * 2.5);
    color: $color-white;
  }

  &__title {
    font-weight: $font-w-bold;
    font-size: 3rem;
    line-height: 1.17;
  }

  &__description {
    font-size: 0.875rem;
    line-height: 1.42;

  }

  &__btn {
    width: 170px;
    height: 40px;
    background-color: transparent;
    color: $color-white;
    border: 2px solid $color-white;
  }

  &__images {
    margin-left: 9.3rem;
    z-index: 2;

  }
}
