@use "../../../presets" as *;
@use "../../../mixins" as *;

.product {
background-color: $color-primary-alt;
position: relative;
z-index: 11;

  &__content {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    font-size: 1.5rem;
    line-height: 1.17;
    padding: 5rem 0 2.375rem 0;
  }

  &__shipping {
    padding: 4.375rem 2.187rem 0 0;
  }

  &__card {
    display: flex;
    gap: calc($gap * 1.5);
    padding-bottom: 3.125rem;
  }

  &__item {
    width: 255px;
    height: 363px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: $gap;
    background-color: $color-white;
    padding-bottom: 0.6rem;
  }

  &__description {
    color: $color-primary;
    padding: 0 1.56rem;
    font-size: 0.875rem;
    line-height: 1.42;
    text-align: center;
  }

  &__price {
    text-align: center;
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 1.17;
    letter-spacing: .05em;
  }

  &__buy {
    width: 170px;
    height: 35px;
    font-size: 0.875rem;
    line-height: 1.17;
    letter-spacing: 0.05em;
    color: $color-white;
    background-color: $color-accent;
    border-radius: 30px;

  }
}
